<!DOCTYPE html>
<html>
<head>
  <!-- Head section of our site
  -->
  <meta charset ="UTF-8">

  <link rel="stylesheet" href="/static/styles.css">
  <title>[Game Name] - Leaderboards </title>
</head>
<body>
<h1>
 [Game Name Here] - Leaderboards 
</h1>

<div>
  <h2>
  <p> The sum of all scores is: {{ total_score[0][0] }} </p>
  <p> The total number of games played is: {{ total_games[0][0] }} </p>
  </h2>
</div>

<div class = "table">
  <table class = "table">
    {% for row in scores %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class = "home_b">
  <a href = "/"><button id = "home_button">Return to game</button></a>
</div>

</body>
</html>