<!DOCTYPE html>
<html>
<head>
  <!-- Head section of our site
  -->
  <meta charset ="UTF-8">

  <link rel="stylesheet" href="/static/styles.css">
  <title>Meteor Dodge - Leaderboards </title>
</head>
<body>
<h1>
 Meteor Dodge - Leaderboards 
</h1>

<div>
  <h2>
   The sum of all scores is: {{ total_score[0][0] }} 
  <br> The total number of games played is: {{ total_games[0][0] }} 
  </h2>
</div>

  <h4>Scores are currently displayed from lowest to highest.</h4> 


<div class = "buttons">
  <a href = "/"><button id = "home_button">Return to game</button></a>
  <a href = "/leaderboard"><button id = "desc">Sort highest to lowest</button></a>
</div>

<div class = "table">
<br>
  <table class = "table">
    {% for row in scores %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

</body>
</html>