<!DOCTYPE html>
<html>
<head>
  <!-- Head section of our site  -->
  <meta charset ="UTF-8">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Meteor Dodge</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1>
Meteor Dodge <!-- Just basic title for the site-->
</h1>
<h2>
 The longer you survive the higher you score!
 <!-- Example idea for game description  -->
</h2>

<!--Our idea is to create a simple game project. This project has a game embeded into our site and will let you store a high score into the database.-->
<!-- Could we do arcade style and use a simple 3 letter code? Like AAA or STT, etc. ? -->

<div class = "shell">

  <!-- list of top ten high scores using jinja for loop -->
  <div class = "top-ten">

    <h3> High Scores: </h3>

    <table class = "top-ten">
      {% for row in scores %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
        </tr>
      {% endfor %}
    </table>

    <a href = "/leaderboard"><button id = "lead_button">Full Leaderboard</button></a>
    <!-- Testing jquery post request (Aidan)
    <script>
      function post_score() {
        $.post( "/", {
            'User': 'TST',
            'Score': 1234
        });
      }
    </script>
    <button id="test-button" onclick="post_score()">Test Insert</button>
    -->
  </div>

  <!-- The actual game goes here. -->
  <div class = "game">
    
    <!-- 

    <img id = "player" src = 'static/ship2.png' style = "position: absolute;"></img> 
    <div id = 'backscreen' class = 'backscreen-bottom'></div>
    <div class = 'backscreen-top'></div>

    <script src="static/game.js"></script>
    
    -->

  </div>

  <div class = "credits">
    <h3> 
      Credits <p>
      <div></div>
      <div>Alex Carollo <p></div>
      <div>Aidan Crouthamel <p></div>
      <div>Rees Create <p></div>
      <div>Rose Moss</div>
    </h3>
  </div>


</body>
</html>