<html>
<head>
  <!-- Head section of our site 
  -->
  <meta charset ="UTF-8">

  <link rel="stylesheet" href="/static/styles.css">
  <title>[Game Name]</title>
</head>
<body>
<h1>
 [Game Name Here] <!-- Just basic title for the site-->
</h1>
<h2>
 The longer you survive the higher you score!
 <!-- Example idea for game description  -->
</h2>

<!--Our idea is to create a simple game project. This project has a game embeded into our site and will let you store a high score into the database.-->
<!-- Could we do arcade style and use a simple 3 letter code? Like AAA or STT, etc. ? -->

<div class = "shell">

  <!-- list of top ten high scores with button to full page -->
  <div class = "top-ten">
    Test Text to be displayed on page, top ten

    <a href = "/leaderboard"><button id = "lead_button">Full Leaderboard</button></div></a>
  </div>
    
  <!-- This is what will replaced with the actual project -->
  <div class = "game">
    <img src="/assets/backgrounded/background1.png" alt="Game Project Here" style="width:500px;height:500px;"><!-- Temp file for formatting purposes--> 
  </div>

  <div class = "credits">
    Credits
    Alex Carollo
    Aidan Crouthamel
    Rees Create
    Rose Moss
  </div>

</div>

</body>
</html>